#loader {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6e6e6;
  z-index: 10000;
  transition: all 1s ease-in-out;
  transition-delay: 400ms;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

#loader__content {
  transition: all 800ms ease-in-out;
}