.brand {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
  margin: 0;
  font-family: 'Chakra Petch';
  color: #FFF;
}

.brand__text {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.list-item__icon {
  color: #484848 !important;
}

.list-item__name {
  padding: 0 1rem;
}