.about {
  background-color: red;
}

.about__logo {
  animation: about__logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes about__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
