.calendar {
  background-color: red;
}

.calendar__logo {
  animation: calendar__logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes calendar__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
