.home {
  background-color: red;
}

.home__logo {
  animation: home__logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes home__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
