.notes {
  background-color: red;
}

.notes__logo {
  animation: notes__logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes notes__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
