.settings {
  background-color: red;
}

.settings__logo {
  animation: settings__logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes settings__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
